# 문1 세 정수의 최대값 구하기

In [6]:
def find_maximum() -> int:
    
    first = int(input("첫번째 정수를 입력하세요: "))
    second = int(input("두번째 정수를 입력하세요: "))
    third = int(input("세번째 정수를 입력하세요: "))
    
    max_value = first
    
    if second > max_value: max_value = second
    if third > max_value: max_value = third
    
    return max_value

find_maximum()

첫번째 정수를 입력하세요:  123
두번째 정수를 입력하세요:  -8
세번째 정수를 입력하세요:  23415

23415

In [7]:
def find_minimum() -> int:
    first = int(input("첫번째 정수를 입력하세요: "))
    second = int(input("두번째 정수를 입력하세요: "))
    third = int(input("세번째 정수를 입력하세요: "))
    
    min_ = first
    if second < min_:
        min_ = second
    if third < min_:
        min_ = third
        
    return min_

# 문2 input() 함수의 기능

문자열을 입력받아 반환한다

In [ ]:
name = input("이름을 입력하세요: ")

In [2]:
print(f'안녕하세요? {name} 님.')

안녕하세요? 이창호 님.

# 문3  int(), float() 함수의 기능

문자열을 입력받아 정수, 실수를 반환한다

In [11]:
def decision_int():
    n = int(input("정수를 입력하세요: "))
    
    if n > 0:
        print("이 수는 양수입니다")
    elif n < 0:
        print("이 수는 음수입니다")
    else:
        print("이 수는 0입니다")
        
decision_int()

정수를 입력하세요:  2345

이 수는 양수입니다

# 문4 조건문에서 헤더와 스위트의 작성규칙

In [29]:
def decision_int() -> int:
    
    try:
        n = int(input("정수를 입력하세요: "))
    except ValueError:
        print("정수를 입력해주세요")
        return decision_int()
       
    if 0 < n:   # 헤더 
        print(f'{n}은 양수입니다') # 스위트
        
    elif 0 == n: print(f'{n}은 0입니다'); print(f'{n}도 정수입니다')  # 스위트가 단순문이면 헤더와 같은 행에 둘 수 있다.
                                         # 단순문이 2개 이상이면 ; 세미콜론을 써서 헤더와 같은 행에 둘 수 있다
    
    else: print(f'{n}은 음수입니다')

decision_int()

정수를 입력하세요:  0

0은 0입니다
0도 정수입니다

# 문5 elif 사용법

    elif는 첫 번째 if 조건이 False일 때 실행되며, 
    이후의 elif 블록들은 이전 elif 또는 if 조건들이 모두 False일 때만 평가됩니다. 
    else 블록은 모든 if 및 elif 조건들이 False일 때 실행됩니다.

In [20]:
x = 20

if x < 10:
    print("x는 10보다 작습니다.")
elif x < 20:                                # 바꿔쓰면 elif 10 <= x < 20:
    print("x는 10 이상이지만 20보다 작습니다.")
elif x < 30:                                # 바꿔쓰면 elif 20 <= x < 30:
    print("x는 20 이상이지만 30보다 작습니다.")
else:                                       # 바꿔쓰면 if 30 <= x:
    print("x는 30 이상입니다.")

x는 20 이상이지만 30보다 작습니다.

# 문6 세 정수의 중앙값 구하기

In [31]:
def find_median():
    
    first = int(input("첫번째 정수를 입력하세요 : "))
    second = int(input("두번째 정수를 입력하세요 : "))
    third = int(input("세번째 정수를 입력하세요 : "))
    
    if first < second:
        if second < third:
            median = second
        else:
            if first < third:
                median = third
            else:
                median = fisrt
    else:
        if first < third:
            median = first
        else:
            if second < third:
                median = third
            else:
                median = second
                
    return median
        
find_median()

첫번째 정수를 입력하세요 :  100
두번째 정수를 입력하세요 :  100
세번째 정수를 입력하세요 :  103

100

In [35]:
def find_median():
    
    first = int(input("첫번째 정수를 입력하세요 : "))
    second = int(input("두번째 정수를 입력하세요 : "))
    third = int(input("세번째 정수를 입력하세요 : "))
    
    if first < second:
        if second < third:
            median = second
            return median
        else:
            if first < third:
                median = third
                return median
            else:
                median = first
                return median
    else:
        if first < third:
            median = first
            return median
        else:
            if second < third:
                median = third
                return median
            else:
                median = second
                return median
        
find_median()

첫번째 정수를 입력하세요 :  3
두번째 정수를 입력하세요 :  2
세번째 정수를 입력하세요 :  3

3

In [37]:
def med3(f, s, t):
    
    if f >= s:
        if s >= t:
            return s
        elif f <= t:
            return f
        else:
            return t
    elif f > t: # 바꿔 쓰면 t < f < s
        return f
    elif s > t: # 바꿔 쓰면 f < t < s
        return t
    else:       # 바꿔 쓰면 f < s < t
        return s

# 문7  else가 생략되는 경우

if 또는 elif만 쓴 조건문에는 else: pass 가 생략된 것이다.

# 문8 1부터 n까지 정수의 합 구하기 while, for 두가지 방법으로 구현

In [40]:
def sum_int():
    
    start_value = int(input("시작지점 정수 값을 입력하세요: "))
    end_value = int(input("종료지점 정수 값을 입력하세요: "))
    
    answer = 0
    
    for n in range(start_value, end_value+1):
        answer += n
    return answer

sum_int()

시작지점 정수 값을 입력하세요:  1
종료지점 정수 값을 입력하세요:  10

55

In [41]:
def sum_int():
    
    end_value = int(input("종료지점 정수 값을 입력하세요: "))
    
    answer = 0
    i = 1
    while i <= end_value:
        answer += i
        i += 1
    return answer

sum_int()

종료지점 정수 값을 입력하세요:  10

55

In [42]:
def sum_int():
    
    end_value = int(input("종료지점 정수 값을 입력하세요: "))

    answer = (end_value * (end_value + 1)) // 2
    
    return answer

sum_int()

종료지점 정수 값을 입력하세요:  10

55

# 문9 정수 a부터 정수 b까지의 합 구하기

In [44]:
def sum_a_to_b():
    a = int(input("정수 a를 입력하세요: "))
    b = int(input("정수 b를 입력하세요: "))
    
    if a > b:
        a, b = b, a  # a, b를 오름차순 정렬
        
    s = 0
    for n in range(a, b+1):
        s += n
        
    return s

sum_a_to_b()

정수 a를 입력하세요:  100
정수 b를 입력하세요:  1

5050

# 문10 정수 a부터 정수 b까지의 합산 과정을 출력하는 함수

In [45]:
def sum_a_to_b():
    a = int(input("정수 a를 입력하세요: "))
    b = int(input("정수 b를 입력하세요: "))
    
    if a > b:
        a, b = b, a  # a, b를 오름차순 정렬
        
    s = 0
    for n in range(a, b):
        print(f'{n} + ', end = "")
        s += n
    
    s += b
    print(f'{b} = {s}')

sum_a_to_b()

정수 a를 입력하세요:  1
정수 b를 입력하세요:  10

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 = 55

# 문11 +, - 를 번갈아 n번 출력하는 함수

In [60]:
def plus_minus():
    
    n = int(input("몇번 출력할까요: "))
    
    if n % 2 == 0:
        for _ in range((n+1)//2):
            print("+-", end="")
    elif n == 1:
        print("+")
    else:
        for _ in range(n//2):
            print("+-", end="")
        print("+")

In [61]:
plus_minus()

몇번 출력할까요:  15

+-+-+-+-+-+-+-+

In [67]:
def plus_minus():
    
    n = int(input("몇번 출력할까요: "))
    
    for _ in range(n//2):
        print("+-", end="")
    
    if n%2:
        print("+")

In [68]:
plus_minus()

몇번 출력할까요:  15

+-+-+-+-+-+-+-+

In [69]:
for i in range(0):
    print(i)

In [70]:
for i in range(1):
    print(i)

0

In [71]:
3//2

1

# 문12 *를 n개 출력하되 w개 마다 줄바꿈하는 함수

In [76]:
def star_printer():
    
    n = int(input("*을 몇개 출력하시겠습니까? "))
    w = int(input("w개 마다 줄바꿈하시겠습니까? "))
    
    for _ in range(n//w):
        for _ in range(w):
            print("*", end="")
        print()
        
    for _ in range(n%w):
        print("*", end="")

In [77]:
star_printer()

*을 몇개 출력하시겠습니까?  50
w개 마다 줄바꿈하시겠습니까?  8

********
********
********
********
********
********
**

In [80]:
def star_printer():
    
    n = int(input("*을 몇개 출력하시겠습니까? "))
    w = int(input("w개 마다 줄바꿈하시겠습니까? "))
    
    for _ in range(n//w):
        print("*" * w)
        
    rest = n%w
    if rest:
        print("*" * rest)

In [81]:
star_printer()

*을 몇개 출력하시겠습니까?  50
w개 마다 줄바꿈하시겠습니까?  8

********
********
********
********
********
********
**

# 문13 1부터 n까지 정수의 합 구하기, 양수만 입력받게 구현

In [84]:
def sum_int():
    
    while True:
        n = int(input("1부터 몇까지 더할까요? "))
        if n >= 0:
            break
        else:
            print("양수를 입력해주세요")
sum_int()

1부터 몇까지 더할까요?  -5

양수를 입력해주세요

1부터 몇까지 더할까요?  0

# 문14 직사각형의 넓이를 입력하면 가능한 변의 길이 조합을 반환하는 함수

In [3]:
5*5 > 25

False

In [4]:
def area_to_side():
    
    area = int(input("직사각형의 넓이를 입력하세요: "))
    
    for n in range(1, area+1):
        if n * n > area: break # 이 코드가 있어야 중복출력이 안된다
        '''
        왜냐면 area의 약수쌍들을 모으면 쌍의 원소 중 하나는 area의 제곱근보다 무조건 작거나 같다.
        예를 들어 area가 a*b 로 표현될 때, a와 b중 둘 중 하나는 무조건 area의 제곱근 보다 작거나 같다.
        a와 b 둘 다 area의 제곱근보다 크다면 a * b는 area보다 커지기 때문.
        이 성질을 이용해서
        n이 약수쌍의 원소 중 작은 값이라고 간주하고,
        약수쌍을 모두 출력할 때 , 큰값이 쌍의 원소 순서에서 앞에 나오는 경우들은 다 날려버리는 역할을 하게 된다. 
        '''
        if area % n: continue  # n으로 나눠 떨어지지 않으면 반복문 처음으로 돌아감
        print(f'{n} x {area//n}') # 나눠 떨어지면, i.e. n이 area의 약수면, n(짧은변)과 n으로 나눴을 때 몫(긴변)을 출력

area_to_side()

직사각형의 넓이를 입력하세요:  25

1 x 25
5 x 5

약수를 나열하는 프로그램

In [86]:
area_to_side()

직사각형의 넓이를 입력하세요:  36

1 x 36
2 x 18
3 x 12
4 x 9
6 x 6

# 문15 10~99 사이의 난수 n개 생성하기 (13이 나오면 중단, else문 사용)

2장 문15 참고

In [100]:
import random

def random_int():
    
    n = int(input("몇개의 난수를 생성할까요? "))
    
    for _ in range(n):
        r = random.randint(10, 99)
        print(r, end=" ")
        if r == 13:
            print("\n프로그램을 중단합니다")
            break
            
    else:
        print("\n프로그램을 종료합니다")
        
random_int()

몇개의 난수를 생성할까요?  1000

42 50 47 37 33 80 86 67 35 58 31 35 22 98 42 23 35 89 63 56 38 64 24 53 93 90 97 52 22 97 27 97 56 83 42 18 94 88 73 35 24 59 74 95 88 16 57 91 44 92 96 52 44 33 26 25 94 30 64 31 93 39 51 51 18 57 50 61 87 46 46 53 42 38 94 55 60 21 79 23 42 87 21 42 41 44 10 69 65 63 85 88 45 15 87 18 49 10 26 92 47 81 10 68 59 67 85 16 14 55 75 26 77 83 53 12 57 79 31 77 46 20 25 17 39 55 46 10 87 37 36 67 96 45 83 29 34 99 69 49 97 70 93 31 39 75 97 75 69 48 11 18 93 97 43 22 17 45 92 40 49 59 58 83 55 49 64 59 17 72 76 65 86 98 14 87 62 11 87 51 25 41 55 27 98 89 15 41 30 57 64 10 89 55 46 25 32 55 46 24 48 11 86 67 37 87 12 77 11 19 30 99 57 80 13
프로그램을 중단합니다

Python에서 반복문에 대한 else 문은  
루프가 중간에 break 문으로 인해 중단되지 않고,  
모든 항목에 대해 정상적으로 실행을 마쳤을 때 실행됩니다.  
바꿔 말해  
중간에 중단되면 else문은 실행되지 않음

# 문16 1부터 100까지 출력할 때 중간에 건너뛰는 값을 아는 경우 for문

In [101]:
# 75를 건너뜀

for i in list(range(1,75)) + list(range(76, 101)):
    print(i, end= " ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 문17 10 <= no <= 90 의 드모르간 법칙

In [102]:
no = 50

not(10 > no or no > 90)

True

# 문18 구구단 곱셈표 출력하기

In [114]:
def multiplication_table():
    
    n = int(input("몇단 까지 출력하시겠습니까? "))
    
    for i in range(n):
        print(f'{i+1} 단 출력')
        for j in range(9):
            print(f'{i+1}x{j+1}={(i+1) * (j+1)}', end=" | ")
        print()
            

multiplication_table()

몇단 까지 출력하시겠습니까?  9

1 단 출력
1x1=1 | 1x2=2 | 1x3=3 | 1x4=4 | 1x5=5 | 1x6=6 | 1x7=7 | 1x8=8 | 1x9=9 |
2 단 출력
2x1=2 | 2x2=4 | 2x3=6 | 2x4=8 | 2x5=10 | 2x6=12 | 2x7=14 | 2x8=16 | 2x9=18 |
3 단 출력
3x1=3 | 3x2=6 | 3x3=9 | 3x4=12 | 3x5=15 | 3x6=18 | 3x7=21 | 3x8=24 | 3x9=27 |
4 단 출력
4x1=4 | 4x2=8 | 4x3=12 | 4x4=16 | 4x5=20 | 4x6=24 | 4x7=28 | 4x8=32 | 4x9=36 |
5 단 출력
5x1=5 | 5x2=10 | 5x3=15 | 5x4=20 | 5x5=25 | 5x6=30 | 5x7=35 | 5x8=40 | 5x9=45 |
6 단 출력
6x1=6 | 6x2=12 | 6x3=18 | 6x4=24 | 6x5=30 | 6x6=36 | 6x7=42 | 6x8=48 | 6x9=54 |
7 단 출력
7x1=7 | 7x2=14 | 7x3=21 | 7x4=28 | 7x5=35 | 7x6=42 | 7x7=49 | 7x8=56 | 7x9=63 |
8 단 출력
8x1=8 | 8x2=16 | 8x3=24 | 8x4=32 | 8x5=40 | 8x6=48 | 8x7=56 | 8x8=64 | 8x9=72 |
9 단 출력
9x1=9 | 9x2=18 | 9x3=27 | 9x4=36 | 9x5=45 | 9x6=54 | 9x7=63 | 9x8=72 | 9x9=81 |

In [108]:
def multiplication_table():
    
    n = int(input("몇단을 출력하시겠습니까? "))
    print(f'{n} 단 출력')
    
    for i in range(9):
        print(f'{n} x {i+1} = {(n) * (i+1)}')

multiplication_table()

몇단을 출력하시겠습니까?  9

9 단 출력
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

# 문19 왼쪽 아래가 직각인 이등변삼각형모양 * 출력하기

In [118]:
def isosceles_triangle():
    
    n = int(input("한변의 길이를 몇으로 하시겠습니까? "))
    
    for i in range(n):
        for j in range(i+1):
            print("*", end="")
        print()
            
isosceles_triangle()

한변의 길이를 몇으로 하시겠습니까?  10

*
**
***
****
*****
******
*******
********
*********
**********

# 문20 오른쪽 아래가 직각인 이등변삼각형모양 * 출력하기

In [6]:
def isosceles_triangle_1():
    
    n = int(input("한변의 길이를 몇으로 하시겠습니까? "))
    
    for i in range(1, n+1):
        print(" " * (n-i) + "*" * i)
isosceles_triangle_1()

한변의 길이를 몇으로 하시겠습니까?  10

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

isosceles_triangle_1 함수는 입력을 10만으로 주면 터진다.
isosceles_triangle_2 함수는 느리지만 출력은 된다

In [4]:
def isosceles_triangle_2():
    
    n = int(input("한변의 길이를 몇으로 하시겠습니까? "))
    
    for i in range(n):              
        for _ in range(n - i - 1):  
            print(' ', end='')
        for _ in range(i + 1):
            print('*', end='')     
        print()
        
isosceles_triangle_2()

한변의 길이를 몇으로 하시겠습니까?  10

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

# 문21 파이썬에서 변수의 의미와 객체의 특징

    파이썬에서 모든 건 객체이다.

    객체는 자료형을 가지며 메모리를 차지한다.

    파이썬의 변수는 객체를 참조하는, 객체에 연결된 이름에 불과하다.
    
    변수가 가리키는 것은 리터럴 자체가 아니라 리터럴의 식별번호다.